<div class="card">

    <div class="card-body">

        <div
          class="d-flex justify-content-between mb-3">

            <h4>
                Students
            </h4>

            <button
              routerLink="/dashboard/students/create"
              class="btn btn-primary">

                Add Student

            </button>

        </div>

        <table class="table table-bordered">

            <thead>

                <tr>

                    <th>Name</th>

                    <th>Phone</th>

                    <th>Actions</th>

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let student of students">

                    <td>
                        {{
                          student.firstName
                        }}
                    </td>

                    <td>
                        {{
                          student.phoneNumber
                        }}
                    </td>

                    <td>

                        <button
                          class="btn btn-danger btn-sm"
                          (click)="delete(student.id!)">

                            Delete

                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>